@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:300);
html {
  box-sizing: border-box;
  font-family: sans-serif; }

*,
*:before,
*:after {
  box-sizing: inherit; }

img {
  max-width: 100%;
  height: auto; }

.inn-container {
  margin-right: auto;
  margin-left: auto;
  max-width: 1200px; }

/**
 * the sticky footer mixin
 **/
.home {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(to bottom, #382e2e 50%, #e6e6e6 50%, #e6e6e6 100%); }
  .home__img {
    width: 10%;
    border-radius: 50%;
    margin-top: 1.5rem; }
  .home__username {
    color: white;
    font-weight: bold;
    font-size: 3em; }
  .home__amount {
    background-color: white;
    font-size: 2.1rem;
    font-weight: bold;
    padding: 2.5rem 5rem 1.5rem;
    border-radius: 11px;
    margin: 1rem 0 5rem 0;
    box-shadow: 0 10px 5px 5px rgba(0, 0, 0, 0.02); }
    .home__amount--info {
      font-size: 1.1rem;
      margin: 0; }
  .home__buttons {
    margin-top: 3em;
    width: 100%; }
    .home__buttons > button {
      outline: 0;
      background: #fff;
      color: #fe718f;
      font-size: 1.5rem;
      padding: 1rem;
      margin: 1rem;
      border: 0;
      box-shadow: none;
      font-weight: bold;
      cursor: pointer; }

/**
 * the sticky footer implementation
 **/
html, body {
  height: 100%; }

body {
  margin: 0px;
  padding: 0px; }

#wrapper {
  height: auto !important;
  height: 100%;
  margin-bottom: -10px; }
  #wrapper #container {
    padding: 0 0 10px 0; }

#footer {
  height: 10px; }

/**
 * other styling just to make the demo more appealing
 **/
#wrapper {
  background: #F3F3F3; }

p {
  margin: 0;
  padding: 5% 0 0;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 2.5em;
  color: #555;
  letter-spacing: 0.05em;
  text-align: center; }

#footer {
  background: #F7A9B9; }

