@mixin flex-container-div() {
  display: flex;
  flex-wrap: wrap;
  background-color: DodgerBlue;
  
}
@mixin  flex-container-items {
    background-color: #f1f1f1;
  width: 200px;
  height: 100px;
  margin: 50px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}
